body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend{
  padding:5px;
  font-size:14px;
  line-height:16px;
  background-color:white;
  border-radius:5px;
  color:purple;
}